
#photos {
    padding-top: 4vw;
    padding-bottom: 4vw;
}

#index-header {
    background: url(https://i.imgur.com/oiNhsAR.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

#cat-header {
    font-family: 'Lobster', sans-serif;
    font-weight: bold;
}

#cat-side {
    font-family: 'Lobster', sans-serif;
    font-weight: bold;
}

#brand-logo {
    font-family: 'Lobster', sans-serif;
    padding-right: 3vmin;
}

#title {
    font-family: 'Lobster', sans-serif;
    font-size: 8vmin;
    text-shadow: 2px 2px 4px indigo;
}

#ale {
    font-weight: bold;
    font-size: 9vmin;
}

#title-index {
    font-family: 'Lobster', sans-serif;
    font-size: 5vmin;
    text-shadow: 1px 1px 2px indigo;

}

#ale-index {
    font-weight: bold;
    font-size: 6.5vmin;
}

#edit-cat {
    margin-top: 1vmin;
}

.collection-item:hover {
    background-color: rgb(109, 168, 154);
}

#catIndBrand {
    font-family: 'Lobster', sans-serif;    
}

.removeBullets {
    list-style-type: none;
}

.collection-item:hover a {
    color: white;
}

.btn-flat {
    margin-top: -.75vmin;
}

#title-show {
    font-family: 'Lobster', sans-serif;
    font-size: 5vmin;
    text-shadow: 1px 1px 2px indigo;
}

#show2Title, #showTitle {
    font-family: 'Lobster', sans-serif;
    font-size: 5vmin;
    text-shadow: 1px 1px 2px indigo;
}

#showCardTitle, #show2CardTitle {
    font-size: 2.5rem;
    text-decoration: underline;
}

  
  

