<%- include('../partials/header') %>
<div class="container">
    <h2>Add New catALElog</h2>
        <div class="col s12 l5">
            <form action="/catalelogs" method="POST" autocomplete="off">
                <div class="input-field">
                    <i class="material-icons prefix">add_circle</i>
                    <input type="text" name="name" id="name">
                    <label for="name">catALElog Name</label>
                </div>
                <button class="btn waves-effect waves-light" type="submit">Save catALElog</button>
            </form>
        </div>
</div>

<%- include('../partials/footer') %>