<%- include('../partials/header') %>

<div class="container">
    <h2>Beer List</h2>

        <% beers.forEach(function(beer) { %>
        <%= beer.name %>
        <% }); %>

</div>

<%- include('../partials/footer') %>